*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(./asset/bg.png.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    background-image: url(/asset/Untitled-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    text-align: center;
}

.container h1{
    font-size: 50px;
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon img{
    width: 150px;
}

#city{
    width: 100%;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.temperature{
    color: white;
    font-weight: bold;
    font-size: 80px;
    border-radius: 5px;
}
.description{
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 30px 30px;
    flex-wrap: wrap;
}

.details div{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
    background-color:#0f41a6;
    border-radius: 5px;
    height: 100px;
    
}

@media (max-width: 620px) { 
    .container{
        width: 85%;
        background: none;
        box-shadow: none;
        border: none;
        border-radius: none;
      

    } 
    form{
        flex-direction: column;
       
    }

    form input[type="text"]{
        margin-bottom: 10px;
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }
    form input[type="submit"]{
       font-size: 12px;
    }

    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container h1{
        font-size:20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    img{
        width: 100%;
    }
    
    .descriptio{
        font-size: 10px;
    }
  
    .temperature{
        font-size: 40px;
    }
  
   
}